.idea/
dist/
*.log
*.tmp
*.out
test-*.yml
*.csr
*.srl
*.pem
*.key
*.p12
*.sqlite
report.xml

goatak_client.yml
goatak_server.yml
cmd/goatak_server/goatak_server
cmd/webclient/webclient
cmd/webclient/config_*.zip
